*{
    margin: 0px;
    padding: 0px;
}
:root {
    --orange: #ff6536;
    --black: #000000;
    --white: #fff;
    --gray: #6c757d;
}
.separator{
    margin: 60px 0;
}
/*******************tss-horizontal-numbered***************/
.tss-horizontal-numbered {
    overflow: hidden;
    counter-reset: step;
    padding: 0;
}

.tss-horizontal-numbered li {
    list-style-type: none;
    position: relative;
    width: 100%;
    text-align: center;
}

.tss-horizontal-numbered li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    font-size: 14px;
    color: var(--white);
    background: var(--black);
    border-radius: 25px;
    margin: 0 auto 10px auto;
    text-align: center;
}

.tss-horizontal-numbered li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--black);
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

.tss-horizontal-numbered li:first-child:after {
    content: none;
}

.tss-horizontal-numbered li.active:before,
.tss-horizontal-numbered li.active:after {
    background: var(--orange);
    color: var(--white);
}
@media only screen and (max-width: 375px) {
    .tss-horizontal-numbered li {
      font-size: 13px;
    }
  }
/*******************end tss-horizontal-numbered***************/

/*******************horizontal circle***************/
.tss-horizontal-circle {
    overflow: hidden;
    counter-reset: step;
    padding: 0;
}

.tss-horizontal-circle li {
    list-style-type: none;
    position: relative;
    width: 100%;
    text-align: center;
}

.tss-horizontal-circle li:before {
    content: '';
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    font-size: 14px;
    color: var(--white);
    background: var(--black);
    border-radius: 25px;
    margin: 0 auto 10px auto;
    text-align: center;
}

.tss-horizontal-circle li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--black);
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

.tss-horizontal-circle li:first-child:after {
    content: none;
}

.tss-horizontal-circle li.active:before,
.tss-horizontal-circle li.active:after {
    background: var(--orange);
    color: var(--white);
}

/*******************end horizontal circle***************/

/*******************end horizontal circle***************/
.tss-vertical-step {
    list-style: none;
}

.tss-vertical-step li {
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    counter-increment: container 1;
}
.tss-vertical-step li:first-child {
    margin-top: 0px;
}
.tss-vertical-step li::before {
    content: counter(container);
    line-height: 22px;
    text-align: center;
    position: absolute;
    height: 25px;
    width: 25px;
    border: 1px solid var(--black);
    border-radius: 50%;
    left: -40px;
    top: 0;
    z-index: 10;
    background-color: var(--black);
    color: var(--white)
}

.tss-vertical-step li::after {
    content: '';
    position: absolute;
    height: 90px;
    width: 2px;
    background-color: var(--black);
    z-index: 1;
    left: -27px;
    top: -70px;
}

.tss-vertical-step li.active::after {
    background-color: var(--orange);
}

.tss-vertical-step li:first-child:after {
    display: none;
}

.tss-vertical-step li.active::before {
    color: var(--white);
    border: 1px solid #fff;
    background-color: var(--orange);
}

.tss-vertical-step li.active {
    color: var(--orange);
}

.tss-vertical-step li p {
    position: absolute;
    font-style: italic;
    font-size: 12px;
}

/*******************end horizontal circle***************/

/*******************tss-vertical-icon-step***************/
.tss-vertical-icon-step {
    list-style: none;
    margin-bottom: 35px;
}

.tss-vertical-icon-step li {
    position: relative;
    margin-left: 40px;
    margin-top: 60px;
    counter-increment: container 1;
}
.tss-vertical-icon-step li:first-child{
    margin-top: 0px;
}
.tss-vertical-icon-step li::before {
    content: '';
    line-height: 35px;
    text-align: center;
    position: absolute;
    height: 35px;
    width: 35px;
    border: 1px solid var(--black);
    border-radius: 50%;
    left: -40px;
    top: 0;
    z-index: 10;
    background-color: var(--black);
    color: var(--white)
}

.tss-vertical-icon-step li::after {
    content: '';
    position: absolute;
    height: 90px;
    width: 2px;
    background-color: var(--black);
    z-index: 1;
    left: -24px;
    top: -70px;
}

.tss-vertical-icon-step li.active::after {
    background-color: var(--orange);
}

.tss-vertical-icon-step li:first-child:after {
    display: none;
}

.tss-vertical-icon-step li.active::before {
    color: var(--white);
    border: 1px solid #fff;
    background-color: var(--orange);
}

.tss-vertical-icon-step li.active {
    color: var(--orange);
}

.tss-vertical-icon-step li p {
    position: absolute;
    font-style: italic;
    font-size: 12px;
}

.tss-vertical-icon-step li i {
    position: absolute;
    left: -31px;
    color: var(--white);
    z-index: 10;
    top: 8px;
}

/*******************end tss-vertical-icon-step***************/

/*******************vertical-track-with-time***************/
.tss-track-container .step {
    display: flex;
    height: 6rem;
    margin-left: 30px;
}

.tss-track-container .step:last-child .status span:last-of-type {
    display: none;
}

.tss-track-container .status {
    margin-right: 15px;
    position: relative;
    margin-top: 4px;
}

.tss-track-container .status .dot {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--orange);
}

.tss-track-container .status .line {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 6rem;
    background: var(--orange);
}

.tss-track-container .text p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    line-height: 120%;
}

.tss-track-container .text span {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: var(--gray);
}

.track-diff {
    position: absolute;
    right: 15px;
    line-height: 15px;
    top: -65px;
    width: 45px;
    text-align: center;
    font-size: 13px;
}

/*******************end vertical-track-with-time***************/